<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moodle"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">
        <activity
            android:name=".editProfile"
            android:exported="false" />
        <activity
            android:name=".SyllabusDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SyllabusViewActivity"
            android:exported="false" />
        <activity
            android:name=".PdfViewActivity"
            android:exported="false" />
        <activity
            android:name=".PdfDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".courseView"
            android:exported="false" />
        <activity
            android:name=".Addcategory"
            android:exported="false" />
        <activity
            android:name=".addbook"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="true" />
        <activity
            android:name=".innerCourse"
            android:exported="true" />
        <activity
            android:name=".details"
            android:exported="true" />
        <activity
            android:name=".admin"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signup"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".Dashboard"
            android:exported="true" />
        <activity
            android:name=".user"
            android:exported="true" />

        <service
            android:name=".PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>